.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 90px;
}

.nexttitle {
  display: flex;
  align-items: baseline;
}

.nextcontent {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
}

.countdown {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}