@import "vars";

:export {
    colorBlack900: $color-black-900;
    colorBlack500: $color-black-500;
    colorBlack300: $color-black-300;
    colorBlack100: $color-black-100;
    colorGrey: $color-grey;
    colorWhite: $color-white;
    colorBlue: $color-blue;
    colorBlueMain: $color-blue-main;
    colorBlueBg: $color-blue-bg;
    colorRed: $color-red;
    colorGreen: $color-green;
}@import "vars";

:export {
    colorBlueMain: $color-blue-main;
    colorBlack300: $color-black-300;
}