.source {
  &__container {
    display: flex;
    gap: 16px;
    padding-top: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 16px;
    padding-top: 8px;
  }

  &__card {
    box-sizing: border-box;
    border: 1px solid #dde0e4;
    padding: 16px;
    max-width: 389px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
}
