.card {
  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
  }
}
