@import '../../static/scss/vars.scss';

.pictureRight{
    padding: 0 220px 0 0;
    background: url('../../static/assets/images/special.svg') no-repeat right top;
}

.active{
    color: $color-blue-main;
}

.title{
    margin-bottom: $standart-gap;
    display: flex;
}
.numeration{
    width: 24px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.description{
    width: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

.dopdescription{
    color: $color-black-500;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
}