@import '../../static/scss/vars.scss';

.pictureRight{
    padding: 0 220px 0 0;
    background: url('../../static/assets/images/special.svg') no-repeat right top;
}

.active{
    color: $color-blue-main;
}