@import '../../static/scss/vars.scss';

.header {
  background-color: #001e64;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 44px;
  padding-right: 44px;

  &__container {
    width: 100%;
    display: flex;
    padding: 0 12px;
    min-height: 60px;
    align-items: center;
    padding-left: 200px;
    justify-content: space-between;
  }
  
  &__links {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__menu-link {
    display: flex;
    position: relative;
    align-items: center;
    padding: 9px 20px;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    opacity: 0.6;
    line-height: 20px;
    color: $color-white;
    transition: all 0.2s ease-in;
    &:hover {
      opacity: 1;
    }
  }

  &__menu-active {
    font-weight: 500;
    opacity: 1;
    &::after {
      left: 0;
      width: 100%;
      bottom: -3px;
      height: 3px;
      content: '';
      display: block;
      position: absolute;
      border-radius: 3px;
      background-color: #fff;
    }
  }
}
