@font-face {
  src: url(../fonts/YS-Display-Regular.ttf) format('truetype');
  font-family: 'YS Display Regular';
}

@font-face {
  src: url(../fonts/YS-Display-Medium.ttf) format('truetype');
  font-family: 'YS Display Medium';
}

@font-face {
  src: url(../fonts/YS-Text-Regular.ttf) format('truetype');
  font-family: 'YS Text Regular';
}

@font-face {
  src: url(../fonts/YS-Text-Medium.ttf) format('truetype');
  font-family: 'YS Text Medium';
}
