@import '../../static/scss/vars.scss';

.courses {
  display: flex;
  gap: 16px;
  padding-top: 24px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title {
    display: flex;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    height: min-content;
  }

  &__date {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}
