.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 120px 144px;
  max-width: 1280px;
  min-width: 992px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 286px;
  gap: 48px;
}

.titleBlock {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 12px;
}

.title {
  margin: 0px;
  font-family: 'YS Text Medium';
  letter-spacing: 0px;
  font-weight: 500;
  font-size: 128px;
  line-height: 130px;
  color: #1d6bf3;
}

.text {
  font-family: 'YS Text Medium';
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin: 0;
}

.img {
  width: 486px;
  height: 539px;
}
