@import url('./static/fonts/fonts.scss');
@import './static/scss/vars.scss';

body {
  font-family: 'YS Display Regular', Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.page {
  opacity: 1;
}

.auth-page {
  opacity: 1;
  height: 100vh;
  display: grid;
  padding: 32px 40px 32px 40px;
  place-items: center;
  background-size: cover;
  background-image: url(./static/assets/images/image.svg);
  background-repeat: no-repeat;
}

.loginForm {
  width: 100%;
  padding: 32px 40px 32px 40px;
  max-width: 386px;
  background: #fff;
  border-radius: 12px;
  box-sizing: border-box;

  h4 {
    font-family: 'YS Display Medium';
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    margin: 0 0 24px;
  }

  h3 {
    font-family: 'YS Text Regular';
    color: $color-black-500;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
  }
}